.footer {
    background-color: rgba(70, 69, 71, 1);
    height: 170px;
    position: relative;
}

.footer-inside {
    position: absolute;
    top: 21px;
    left: 140px;
    color: rgba(255, 255, 255, 0.4);
}

.logo {
    left: 145px;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.logo img {
    margin-right: 16px;
}
.mail a {
    color: rgba(255, 255, 255, 0.4);
    white-space: pre-line;
    text-decoration: none;
}