.learn-more {
    top: 0;
    height: 666px;
    background-color: rgba(140, 79, 42, 0,3);
    background-image: url(../assets/background-image-2.png);
    color: rgba(255, 255, 255, 1);
    position: relative;
    text-align: center;
}

.learn-more-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button {
    background-color: rgba(57, 194, 215, 1);
    width: 150px;
    height: 150px;
    border: 0;
    border-radius: 100px;
    color: #FFFFFF;
    position: relative;
}

.play-botton-inside {
    border-radius: 2px;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.learn-more-details {
    font-size: 24px;
}
